
h1:hover, h2:hover{
    cursor: default;
}
body{
    background-color: #41444b;
    font-family:'Nunito', sans-serif;
}
.container{
    width: 450px;
    height: 450px;
    display: block;
    margin: 25px auto;
    position: relative;
}
.nav-item{
    padding:0px 20px;
}
.nav-sty{
    font-size: large;
    padding:20px;
}
.nav-brand-sty{
    font-size: larger;
    font-weight: 600;
}
#cvs{
    position: absolute;
    border: 1px solid #41444b ;
}
.mute{
    color:#FFF;
}
.mute:hover{
    color:#212529;
}

.options{
    position: absolute;
    width: 450px;
    height: 450px;
}

.options h1{
    text-align: center;
    font-size: 65px;
    color: #FFF;
    margin: 30px 0 20px 0;
}

.options h2{
    color:#FFF;
    text-align: center;
    font-weight: bold;
}

.options div{
    display: inline-block;
}

.options .computer, .x{
    padding: 5px;
    background-color: #212529;
    color: #FFF;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 70px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #212529;
}

.options .player, .o{
    padding: 5px;
    background-color: #212529;
    color: #FFF;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border: 1px solid#212529;
}

.options .player:hover, .computer:hover, .x:hover, .o:hover{
    background-color: #FFF;
    color: #212529;
}

.options .play{
    font-size: 1.5em;
    width: 90px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #212529;
    text-align: center;
    padding: 10px;
    background-color: #212529;
    color: #FFF;
    cursor: pointer;
    transition: 100ms width ease-in;
}
.options .play:hover{
    width: 130px;
}

.on{
    background-color: #FFF !important;
    color: #212529 !important;
}

.hide{
    display: none;
}

.gameover{
    position: absolute;
    width: 451px;
    height: 451px;
    background-color: rgba(33, 37, 41, 0.95);
}
.gameover h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Fascinate Inline', cursive;
    color: #fff;
    margin: 40px 0 20px 0;
}

.gameover .W-img{
    display: block;
    margin: 20px auto;
    
}

.gameover .play{
    font-size: 1.5em;
    width: 150px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 100ms width ease-in;
}
.gameover .play:hover{
    width: 200px;
}